@import 'https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i';
/*@import 'http://192.168.1.37:9000/assets/css/page.min.css';*/
html,body{
  font-family: 'Kanit',serif;
  min-height: 100%;
  height: 100%;
  position: relative;
}

section{
  width: 100%;
  position: relative;
}


/*section nav*/
#intro{
  min-height: 100%;
}
.nav_primary{
  padding-top: 4em;
  width: 100vw;
  position: fixed;
  z-index: 999;
  background-color: transparent;
}

a.nav-my-menu {
  background-color: transparent;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  font-size: 1.0em;
  text-decoration: none !important;
  color: white;
  text-align: center;
}
.vdo-responsive{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
.vdo{
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
  min-height: 100%;
  min-width: 100%;
}
.blackbox{
  padding: 0;
  margin: 0;
  top:0;
  bottom: 0;
  position: absolute;
  z-index: 5;
  min-height: 100%;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#particles-js{
  width: inherit;
  min-height: 100%;
  min-width: 100%;
  z-index: 8;
  position: absolute;
}
.intro-content{
  font-size: 2.6em;
  margin-top: 30vh;
  margin-left: 15vw;
  z-index: 10;
  position: absolute;
  color: white;
}

.hvr-underline-white {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-white:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #FFFFFF;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-white:hover:before, .hvr-underline-white:focus:before, .hvr-underline-white:active:before {
  left: 0;
  right: 0;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #00b0ff;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

#detail{
  height: 50%;
  position: relative;
}

.text-detail{
  font-family: 'Kanit',serif;
  font-size: 1.5em;
}

.parallax-window{
  min-height: 540px;
  background: transparent;
}

.pic-detail{
    width: 60%;
    border-radius: 50%;
    padding: .5em;
}

#schedule{
  min-height: 100%;
}
.locationbm{
  margin-top:2.5em;
  margin-left: -2em;
  font-weight: 400;
  font-size:2em;
  transform: rotate(-90deg);
  color: white;
}
@media screen and (max-width: 1024px) {
  #map{
      height: 35em;
      padding-top: 6.3em;
  }
}
@media screen and (min-width: 1025px) {
  #map{
      height: 70% !important;
      padding-top: 3.9em;
  }
}
#map-iframe{
    width: 38.5vw;
    height: 30vw;
}
.button-bulma{
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #363636;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 14px;
    height: 32px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    line-height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    white-space: nowrap;
}
.button-bulma.is-special {   padding:1.5em 1em 1.5em 1em;   background-color: #00b0ff;   border-width: 0;   color: white; }
.button-bulma.is-special:hover {   padding:1.5em 1em 1.5em 1em;   background-color: #0091ea;   border-width: 0;   color: white; }


/* section intro*/
#detail-more{
  height: 50%;
}
#detail-more-2{
  height: 100%;
}
#intro{
  overflow: hidden;
  margin:0;
  padding: 0;
}
.detail-more-text{
    font-size:1.3em;
    font-weight: 300;
    color: white;
}
#register{
    height: 100vh;
    color: white;
}
.register-text{
    margin-top: 30vh;
    font-size: 1.7em;
    margin-bottom: 5vh;
}
.register-btn a{
    color: white;
    font-size:1.5em;
    text-decoration: none;
    text-align: center;
}
.register-btn{
    color: white;
    display: inline-block;
    border: 1px solid white;
    padding: 15px;
    margin-top: 3%;
    font-weight: 600;
    font-size: 1.1em;
    text-align: center;
}
.register-btn:hover{
    background-color: white;
    color:#0277bd;
    transition: .6s;
}
.register-btn:hover a{
    color:#0277bd;
    transition: .6s;
}
.forget-btn{
    color: white;
    display: inline-block;
    border: 1px solid white;
    padding: 10px;
    margin-top: 3%;
    font-weight: 300;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
}
.forget-btn a{
    color: white;
    font-size:1.5em;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}
.forget-btn:hover{
    background-color:#c62828;
    color:#c62828;
    transition: .6s;
}
.forget-btn:hover a{
    color:white;
    transition: .6s;
}
#contact{
    color: white;
    background-color: #212121 ;
    min-height: 15% !important;
}
#line{
    height: 0.5vh;
    background-color: #0277bd;
}
.contact-img{
    color: white;
    width: 2em;
    height: 2em;
}
.sponsor-img{
    width: 7em;
    height: 7em;
    margin-right: 1em;
}
/*Start Infinite Slideshow*/
.wrapper {
  width: 100vw;
  overflow: hidden;
}

.sliding-background {
  z-index: -1;
  background: url(http://getbike.local/media/image/blue-filter-bg.jpg) repeat-x;
  height: 100vh;
  width: 2000px;
  animation: slide 20s linear infinite;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-666.66666px, 0, 0);
  }
}
/*End infinite slide show*/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 7em;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 50%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li.timeline-inverted + li:not(.timeline-inverted),
.timeline > li:not(.timeline-inverted) + li.timeline-inverted {
  margin-top: -60px;
}

.timeline > li:not(.timeline-inverted) {
  padding-right:90px;
}

.timeline > li.timeline-inverted {
  padding-left:90px;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.special {
  background-color: #039be5 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.black-ribbon {
  position: fixed;
  z-index: 9999;
  width: 70px;
}
@media only all and (min-width: 768px) {
  .black-ribbon {
    width: auto;
  }
}

.stick-left { left: 0; }
.stick-right { right: 0; }
.stick-top { top: 0; }
.stick-bottom { bottom: 0; }
