#nav_primary{
  margin-top:8vh;
  width: 99vw;
  position: absolute;
  z-index: 10;
  background-color: transparent;
}
.special-for-nav{
  margin-top: 0.5em;
}

a{
  font-size: 1.0em;
  text-decoration: none !important;
  color: white;
}
.vdo-responsive{
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 100%;
}
.vdo{
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
}
.blackbox{
  padding: 0;
  margin: 0;
  top:0;
  bottom: 0;
  position: absolute;
  z-index: 5;
  width: inherit;
  height: 99.3%;
  background-color: rgba(0, 0, 0, 0.3);
}
#particles-js{
  width: inherit;
  height: 99.3%;
  z-index: 8;
  position: absolute;
}
.intro-content{
  font-size: 2.6em;
  margin-top: 40vh;
  margin-left: 16vh;
  z-index: 10;
  position: absolute;
  color: white;
}
